* {
  box-sizing: border-box;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
ul:last-child {
  margin: 0;
}
h1 {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  margin: 0;
}

h2 {
  color: #2e2f42;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin: 0;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  margin: 0;
}

p {
  margin: 0;
}

.hero {
  padding: 188px 0;
}
.features,
.team,
.portfolio {
  padding: 120px 0px;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

img {
  display: block;
  width: 100%;
}
